{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'user_accounts/styles.css' %}" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <title>Accounts</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %} {% block base %} {% endblock %}
  </body>

  <script type="text/javascript">
    window.CSRF_TOKEN = "{{csrf_token}}";
    $(document).on("click", ".btn_like", function () {
      var post_id = this.id;

      $.ajax({
        method: "POST",
        url: "/like/",
        data: { post_id: post_id, csrfmiddlewaretoken: window.CSRF_TOKEN },
      });
      window.location.href = "/";
    });
  </script>
</html>
